{% load static %}
{% load extras %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% include "meta.html" %}
    <link rel="stylesheet" href="{% hashed_static '@picocss/pico/css/pico.min.css' %}">
    <link rel="stylesheet" href="{% hashed_static '@picocss/pico/css/pico.colors.min.css' %}">
    <link rel="stylesheet" href="{% hashed_static '@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% hashed_static 'css/base.css' %}">
    <title>Empresas Python</title>
  </head>
  <body>
    <main class="container">
      {% include "header.html" %}
      {% include "messages.html" %}
      <div class="grid">
          <div class="content">
            {% block content %}{% endblock %}
          </div>
          <div class="sidebar">
            {% block sidebar %}{% endblock %}
          </div>
        </div>
    </main>
    <footer class="container">
      <hr>
      <section>
        {% include "footer.html" %}
      </section>
    </footer>
  </body>
  <script src="{% hashed_static 'js/base.js' %}"></script>
</html>
