<a class="void" href="/"><h1>Empresas Python <i class="fa-brands fa-python"></i></h1></a>
<h6>
  Detrás de esta pequeña aplicación web está <a href="https://sdelquin.matraka.es">Sergio Delgado Quintero</a>. El objetivo que persigo en crear un humilde repositorio de <mark>empresas que trabajen con Python</mark>, para varios fines, pero principalmente para poder tener opciones donde enviar alumnado en prácticas de ciclos de Formación Profesional de Grado Superior de Desarrollo de Aplicaciones Web y Desarrollo de Aplicaciones Multiplataforma del <a href="https://iespto.es">IES Puerto de la Cruz - Telesforo Bravo</a> donde soy profesor desde hace muchos años... ¿Nos ayudas? <i class="fa-regular fa-hand-peace"></i>
</h6>
