{% load extras %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark">

<meta property="og:title" content="Empresas Python" />
<meta property="og:description" content="Base de datos de empresas que trabajan con Python." />
<meta property="og:image" content="https://empresas-python.matraka.es{% hashed_static 'images/preview.jpg' %}" />
<meta property="og:url" content="https://empresas-python.matraka.es/" />
<meta property="og:type" content="website" />
