{% extends "base.html" %}

{% block content %}
  <h2>Listado de empresas</h2>

  {% if companies %}
    <table>
      <thead>
        <tr>
          <th>Nombre ↑</th>
          <th>Email</th>
          <th>Ciudad</th>
          <th>Contacto</th>
          <th>Teléfono</th>
          <th>Remoto</th>
        </tr>
      </thead>
      {% for company in companies %}
        {% include "companies/company/detail/row.html" %}
      {% endfor %}
    </table>
  {% else %}
    <p>No hay empresas registradas.</p>
  {% endif %}
{% endblock %}
