ul.errorlist {
  padding-inline-start: 0;
  margin-block-end: 0;

  li {
    list-style-type: none;
    font-size: small;
    color: #c52f21;
  }
}

div.grid {
  column-gap: 10%;
}

div.footer-right {
  text-align: right;
}

div.messages {
  article.success {
    color: #347854;
    border-color: #347854;
    border-style: solid;
    border-width: thin;
  }
}

a.void {
  text-decoration: none;
  color: inherit;
}
